<% comments.each do |comment| %>
  <p>
    <div class="show-item">
      <% if comment.user.name.present? %>
        <strong><%= Comment.human_attribute_name(:contributor) %>:</strong>
        <%= comment.user.name %>
        <p>
          <strong><%= Comment.human_attribute_name(:created_at) %>:</strong>
          <%= l(comment.created_at, format: :long) %>
        </p>
      <% else %>
        <strong><%= Comment.human_attribute_name(:contributor) %>:</strong>
        <%= comment.user.email %></p>
      <% end %>
      <p><%= comment.content %></p>
      <% if comment.user_id == current_user.id %>
        <%= link_to t('helpers.link.delete'), polymorphic_path([commentable, comment]), data: { turbo_method: :delete, turbo_confirm: 'Are you sure?' } %>
      <% end %>
    </div>
  </p>
<% end %>
