<%= form_with model: @user, url: update_user_path(@user) do |form| %>

  <div class="field">
    <%= form.label :name, "name" %>
    <%= form.text_field :name %>
  </div>

  <div class="field">
    <%= form.label :email, "email" %>
    <%= form.text_field :email %>
  </div>

	<div class="field">
    <%= form.label :profile, "profile" %>
    <%= form.text_area :profile %>
  </div>

	<div class="field">
    <%= form.label :postcode, "postcode" %>
    <%= form.text_field :postcode %>
  </div>

	<div class="field">
    <%= form.label :address, "address" %>
    <%= form.text_field :address %>
  </div>

  <div class="submit">
    <%= form.submit "Update"%>
  </div>

<% end %>
