<div id="<%= dom_id user %>">
  <p>
    <strong>name:</strong>
    <%= user.name %>
  </p>

  <p>
    <strong>email:</strong>
    <%= user.email %>
  </p>

  <p>
    <strong>profile:</strong>
    <%= user.profile %>
  </p>

  <p>
    <strong>postcode:</strong>
    <%= user.postcode %>
  </p>

  <p>
    <strong>address:</strong>
    <%= user.address %>
  </p>

</div>
