<h1><%= t('views.common.title_show', name: Book.model_name.human) %></h1>

<div class="show-item">
  <%= render @book %>
</div>

<nav class="page-nav">
  <%= link_to t('views.common.edit', name: Book.model_name.human.downcase), edit_book_path(@book) %> |
  <%= link_to t('views.common.back', name: i18n_pluralize(Book.model_name.human.downcase)), books_path %>

  <%= button_to t('views.common.destroy', name: Book.model_name.human.downcase), @book, method: :delete %>
</nav>

<h2>コメント</h2>

<% @comments.each do |comment| %>
  <p>
    <div class="show-item">
      <% if comment.user.name.present? %>
        <p>Posted by: <%= comment.user.name %></p>
        <%= l(comment.created_at, format: :long) %>
      <% else %>
        <p>Posted by: <%= comment.user.email %></p>
      <% end %>  
      <p><%= comment.content %></p>
    </div>
  </p>
<% end %>

<%= form_with(model: [@book, @comment], local: true) do |form| %>
  <p>
    <%= form.text_field :content %>

    <%= form.hidden_field :commentable_id, value: @book.id %>
    <%= form.hidden_field :commentable_type, value: @book.class %>
  </p>

  <div class="actions">
    <%= form.submit "コメントする" %>
  </div>
<% end %>
