<h1>日報の詳細</h1>

<div class="show-item">
  <%= render @report %>
</div>

<nav class="page-nav">
  <% if @report.user_id == current_user.id %>
    <%= link_to 'この本を編集', edit_report_path(@report) %> |
  <% end %>

  <%= link_to '日報一覧に戻る', reports_path %>

  <% if @report.user_id == current_user.id %>
    <%= button_to 'この日報を削除', report_path(@report), method: :delete, data: { turbo_confirm: "Are you sure?" } %>
  <% end %>

</nav>

<h2>コメント</h2>

<% @comments.each do |comment| %>
  <p>
    <div class="show-item">
      <% if comment.user.name.present? %>
        <p>Posted by: <%= comment.user.name %></p>
        <%= l(comment.created_at, format: :long) %>
      <% else %>
        <p>Posted by: <%= comment.user.email %></p>
      <% end %>
      <p><%= comment.content %></p>
    </div>
  </p>
<% end %>

<%= form_with(model: [@report, @comment], local: true) do |form| %>
  <p>
    <%= form.text_field :content %>

    <%= form.hidden_field :commentable_id, value: @report.id %>
    <%= form.hidden_field :commentable_type, value: @report.class %>
  </p>

  <div class="actions">
    <%= form.submit 'コメントする' %>
  </div>
<% end %>
