<!DOCTYPE html>
<html>
  <head>
    <title>BooksApp</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <p class="navbar-text pull-right">
    <% if user_signed_in? %>
      <%= t('greetings.hello')%><strong> <%= current_user.name %></strong> <%= t('honorific_titles.mr_miss')%>
      <%= link_to t('views.common.edit', name: User.model_name.human.downcase), edit_user_registration_path, class: 'navbar-link' %> |
      <%= link_to t('devise.shared.links.sign_out'), destroy_user_session_path, method: :delete, class: 'navbar-link' %>
    <% else %>
      <%= link_to t('devise.shared.links.sign_up'), new_user_registration_path, class: 'navbar-link' %> |
      <%= link_to t('devise.sessions.new.sign_in'), new_user_session_path, class: 'navbar-link' %>
    <% end %>
  </p>

  <body class="<%= params[:action] %>">
    <% if alert %>
      <p class="alert alert-danger"><%= alert %></p>
    <% end %>
    <%= yield %>
  </body>
</html>
